h1 {
    color: blue;
}

p {
    font-style: italic;
}

table {
    border: 2px solid red;
    background-color: bisque;
    border-spacing: 5px;
    width: 60%;
}

th {
    border: 1px solid black;
}

tr  {
    background-color: coral;
}