body {
    background-color: darkseagreen;
}

h1 {
    color: blue;
}

p {
    font-style: italic;
}

article {
    background-color: cadetblue;
}

table {
    margin: 10px;
    border: 2px solid red;
    background-color: bisque;
    background-clip: content-box;
    border-spacing: 5px;
    width: 60%;
    padding: 5px;

}

th {
    border: 1px solid black;
}

tr  {
    background-color: coral;
}